<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>JPA2 회원 등록</h1>
	<form action="/members/save" method="post">
		<div class="form-group">
			<!-- id : <input type="number" id="id" name="id" placeholder="id 입력"><p> -->
		        이름  : <input type="text" name="name"      placeholder="name 입력"><p>
                    팀   이름  : <input type="text" name="teamname"  placeholder="팀이름을 입력하세요">
 		</div>
		<button type="submit">등록</button>
	</form>

</body>
</html>