<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>JPA2 회원 리스트</h1>
<form action="/members/search" method="post">
                회원검색이름 : <input type="text" name="name" placeholder="회원검색 이름을 입력하세요">
      <button type="submit">검색 </button><p>
 </form>


<div class="container">
       <table border="1">
            <thead>
            <tr>
                <th>No</th>
                <th>이름</th>
                <th>팀이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td><a th:href="@{/memberModifyForm(id=${member.id})}" th:text="${member.name}"></a></td>
                <td th:text="${member.team.name}"></td>
            </tr>
            </tbody>
        </table>

</div>

</body>
</html>